{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ title }}</title>
    <!--<link rel="shortcut icon" href="">-->

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block extrahead %}{% endblock %}
</head>

<body>
	<header>
        <div class="box-header">   
              <a href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="218" height="57" viewBox="0 0 218 57">
                    <g id="Componente_1_1" data-name="Componente 1 – 1" transform="translate(1)">
                      <g id="shutter" transform="translate(187.666 18.665)">
                        <g id="Layer_8_3_">
                          <path id="Trazado_34" data-name="Trazado 34" d="M9.484,13.152a10.878,10.878,0,0,1,.809-9.722c2.28-1.7,6.32-1.748,8.781-.361C14.186,3.822,9.484,13.152,9.484,13.152Zm3.833-3.885s10.431-.595,13.527,3.263c-.029-2.825-2.094-6.3-4.7-7.424A10.877,10.877,0,0,0,13.317,9.267Zm5.28,1.376s5.73,8.737,3.938,13.346c2.432-1.438,4.406-4.964,4.078-7.785A10.876,10.876,0,0,0,18.6,10.643ZM10.456,25.988c2.461,1.387,6.5,1.335,8.78-.362a10.872,10.872,0,0,0,.809-9.722S15.345,25.235,10.456,25.988Zm5.757-6.2s-10.431.594-13.527-3.263c.029,2.824,2.094,6.3,4.7,7.423A10.874,10.874,0,0,0,16.214,19.79Zm-5.28-1.376S5.2,9.677,7,5.068c-2.432,1.437-4.407,4.963-4.078,7.785A10.876,10.876,0,0,0,10.934,18.414Zm18.4-3.746A14.667,14.667,0,1,1,14.667,0,14.684,14.684,0,0,1,29.334,14.667Zm-1.354,0A13.314,13.314,0,1,0,14.667,27.981,13.328,13.328,0,0,0,27.98,14.667Z" fill="#1a90a5"/>
                        </g>
                      </g>
                      <text id="realrec" transform="translate(94 45)" fill="#fff" font-size="49" font-family="Consolas"><tspan x="-94.292" y="0">real</tspan><tspan y="0" fill="#1a90a5">rec</tspan></text>
                    </g>
                  </svg>
              </a>
            <a class="enlace" href="{% url 'id' %}">+</a>
        </div>
	</header>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>