{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ title }}</title>
    <!--<link rel="shortcut icon" href="">-->

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block extrahead %}{% endblock %}
</head>

<body>
	<header>
        <div class="box-header">   
            <h1>
              <a href="{% url 'home' %}"> Proyecto Imagen</a>
            </h1>
        </div>
        <a class="enlace" href="{% url 'id' %}">+</a>
	</header>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>