{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
<content>
    <h3>Subir un archivo para identificar</h3>
    <br>
    <a class="enlace" href="{% url 'upload' %}">Subir archivo</a>
    
    <br><br><br><br>
    
    <h3>Usar una ip para identificar</h3>
    <br>
    <!-- <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <p><button type="submit">Upload</button></p>
    </form> -->
    <a class="enlace" href="{% url 'ip' %}">Usar ip</a>
</content>
{% endblock %}