{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
<content>
    {% if ip %}
        <img data-enlargeable style="cursor: zoom-in" src="/video/{{ ip }}">
        <br><br><br>
        <a class="enlace" href="{% url 'ip' %}">Nueva ip</a>
    {% else %}
        <form action="{% url 'ip' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <p><button type="submit">Detectar</button></p>
        </form>
    {% endif %}
</content>
<script>
    $('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
  var src = $(this).attr('src');
  $('img[data-enlargeable]').hide();
  var modal;
  
  function removeModal() {
    modal.remove();
    $('body').off('keyup.modal-close');
  }
  modal = $('<div>').css({
    background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
    backgroundSize: 'contain',
    width: '100%',
    height: '100%',
    position: 'fixed',
    zIndex: '10000',
    top: '0',
    left: '0',
    cursor: 'zoom-out'
  }).click(function() {
    $('img[data-enlargeable]').show();
    removeModal();
  }).appendTo('body');
  //handling ESC
  $('body').on('keyup.modal-close', function(e) {
    if (e.key === 'Escape') {
      removeModal();
    }
  });
});
</script>

{% endblock %}